{% extends 'main/base_sidebar.html' %}
{% block content_2 %}
<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4"></span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#"></a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#"></a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#"></a>
        </nav>
    </div>
    <div class="row-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Контакты</h1>
        <h1>&nbsp;</h1>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-black">
                    <h6>Имя</h6>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" class="form-control" name="name">
                        </div>
                        <h6>Почта</h6>
                        <div class="mb-3">
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email">
                        </div>
                        <h6>Сообщение</h6>
                        <div class="mb-3">
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary form-control">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
        <div class="col-6">
            <h1>{{company_name}}</h1>
            <hr>
            <p>{{desc}}!</p>
            <p>{{address}}</p>
            <a href="{{email}}">{{email}}</a>
            <p><ins>{{number}}</ins></p>
        </div>
    </div>
</div>
{% endblock %}
