{% extends 'catalog/base_sidebar.html' %}
{% block content_2 %}
<header>
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
      <span class="fs-4"></span>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#"></a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#"></a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#"></a>
      <a class="py-2 link-body-emphasis text-decoration-none" href="#"></a>
    </nav>
  </div>
  <a href="{% url 'catalog:create' %}"><button type="submit" class="btn btn-sm btn-outline-secondary">Добавить товар</button></a>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Главная</h1>
    <p class="fs-5 text-body-secondary">Вы находитесь на сайте, предназначенном для продажи товаров</p>
  </div>
</header>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  {% for product in object_list %}
  <form method="get">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">{{product}}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">{{product.price}}<small class="text-body-secondary fw-light"> р.</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>{{product.description}}</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить</button>
          <a href="{% url 'catalog:product' product.pk %}"><button type="button" class="btn btn-sm">Детально</button></a>
          <a href="{% url 'catalog:update' product.pk %}"><button type="button" class="btn btn-sm">Редактировать</button></a>
        </div>
      </div>
    </div>
  </form>
  {% endfor %}
</div>
{% endblock %}

