{% extends 'catalog/base_sidebar.html' %}

{% block content_2 %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body text-black">

                        {% csrf_token %}
                        <!--                        <p>-->
                        <!--    <label for="id_id">id</label>-->
                        <!--    <input type="number" name="id" required id="id_id">-->
                        <!--                        </p>-->
                        {% if user.is_superuser %}
                            {{ form.as_p }}
                        {% else %}

                            {% if perms.catalog.change_product_category %}
                            <p>Категория:</p>
                                {{ form.category }}
                            {% endif %}
                            {% if perms.catalog.change_product_description %}
                            <br>
                            <p>Описание товара:</p>
                                {{ form.description }}
                            {% endif %}
                            {% if perms.catalog.set_is_active %}
                            <br>
                            <p>Опубликовать? </p>
                                {{ form.is_active }}
                            {% endif %}
                        {% endif %}
                        <br>
                        {% if not object %}
                        <button type="submit" class="btn btn-success">Создать</button>
                        {% else %}
                        <button type="submit" class="btn btn-success">Редактировать</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body text-black">
                        {{formset.management_form}}
                        {% for form in formset.forms %}
                            {{ form.as_p }}
<!--                        <button type="submit" class="btn btn-danger">Удалить</button>-->
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
